# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon

# Xcode
build/
DerivedData/
*.moved-builder
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# App bundle
Fleet.app/

# Swift Package Manager
.build/
Packages/
Package.pins

# Editor & Misc
.idea/
.vscode/
*.swp
*~
